* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #80d5fb;
  color: rgb(47, 7, 85);
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: #2baae0;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  background-color: #074864;
  width: 25px;
  height: 2px;
  margin: 3px 0;
  border-radius: 2px;
}

.menu-links ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-links li {
  margin: 0 10px;
}

.menu-links a {
  text-decoration: none;
  color: #074864;
  align-items: center;
  font-size: 1.01rem;
}

.menu-links a:hover {
  color: white;
  font-size: 1.012rem;
}

.main hr {
  border: 0;
  background-color: #afabf0;
  height: 1.2px;
  margin: 40px 84px;
}

.header-title {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 0;
  color: #074864;
  transition: color 0.2s, text-shadow 0.1s;
}

.header-title:hover {
  color: white;
  text-shadow: 0.1rem white;
  cursor: pointer;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0;
}

.leftSection {
  font-size: 2.5rem;
  max-width: 60%;
  text-align: center;
}

.leftSection h1 {
  font-size: 2.5rem;
}

.sub-text {
  font-size: 1.2rem;
}

.buttons {
  padding: 20px 0; /* Adjusted for better spacing on small screens */
}

.download-resume-btn,
.visit-github-btn {
  padding: 12px 30px;
  background: #018fcc;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  display: inline-block;
}

.download-resume-btn:hover,
.visit-github-btn:hover {
  color: white;
  background-color: #165acc;
  font-size: 20px;
}

.rightSection img {
  max-width: 100%;
  height: auto; /* Ensure image proportions are maintained */
}

.purple {
  color: #165acc;
}

#element {
  color: #165acc;
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  height: auto;
  text-align: center;
}

.secondSection h1 {
  font-size: 2rem;
  margin: 20px 0;
}

.text-gray {
  color: purple;
}

.secondSection .box {
  background: #e3eef2;
  max-width: 80vw;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}

.secondSection .vertical {
  width: calc(50% - 50px);
  background-color: #e3eef2;
  margin: 0 25px;
  padding: 20px;
  text-align: left;
}

.vertical-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.vertical-desc {
  font-size: 14px;
  color: purple;
}

.footer {
  background-color: #2baae0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 23px 0;
  text-align: center;
}

.footer-first h3 {
  font-size: 1.5rem;
  text-align: center;
}

.footer-second {
  flex: 1;
  margin: 20px 0;
}

.footer-second ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-second li {
  margin: 0;
  padding: 0;
}

.footer-second li a {
  text-decoration: none;
  color: #074864;
  font-size: 1.01rem;
}

.footer-second li a:hover {
  color: white;
}

.footer .footer-rights {
  background-color: #0097d8;
  text-align: center;
  color: rgb(13, 25, 94);
  padding: 12px 0;
}

@media screen and (max-width: 768px) {
  .firstSection {
    flex-direction: column;
    margin: 20px 0;
  }

  .leftSection {
    max-width: 100%;
    text-align: center;
  }

  .rightSection img {
    max-width: 100%;
    height: auto;
  }

  .vertical {
    width: 100%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 480px) {
  .menu-links {
    display: flex;
    padding: 10px 5px;
  }

  .menu-toggle {
    display: block;
  }

  .menu-toggle span {
    width: 20px;
  }

  .header-title {
    font-size: 1.3rem;
  }

  .leftSection {
    font-size: 2rem;
  }

  .vertical-title {
    font-size: 14px;
  }

  .vertical-desc {
    font-size: 12px;
  }

  .footer-second ul {
    margin: 10px 0;
  }

  .footer-first h3 {
    font-size: 1.3rem;
  }

  .footer .footer-rights {
    padding: 8px 0;
  }
}
